/* ============ Green theme ============ */
.colorBox .colorGear,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
#slideCarousel .carousel-indicators .active {
    background-color: #89ff0c;
}

.navbar-inverse .navbar-brand span,
.about .tempName,
.testimonials span,
footer h3,
footer .copyright span {
    color: #89ff0c;
}

.testimonials .carousel-indicators li.active,
.colorBox .colorOpt {border: 3.5px solid #89ff0c;}

.dropdown-menu {border-top: 3px solid #89ff0c;}